# API
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Google OAuth (optional)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# NextAuth
NEXTAUTH_SECRET=run: openssl rand -base64 32